<style>  
	body {background: url('http://www.andreapickens.com/images/rainy.png') no-repeat center center fixed;
    background-size:cover;
	color:blue;}
</style>
<h1><span><%= @temp %>&deg;F</span><br> &amp; Rainy</h1>
</div>
</div>