<style>  
	body {
	background: url('http://www.andreapickens.com/images/snowy.png'); 	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
    background-size:cover;
	font-size: 24px;
	color: #708f8f;
	}
</style>
<h1><%= @temp %>&deg;F</span><br> &amp; Snowy</h1>
</div>
</div>